body{
    background-color:rgb(11, 2, 75);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 90vh;
}
.c1{
    width:15%;
    text-align: center;
}
.c2{
    width:100%;
    overflow:hidden;
}
.c5{
    display:none;
}
.suma{
    overflow-y:hidden;
    overflow-x:hidden; 
    width:105%;
}
.suma1{
    overflow-y:hidden;
    overflow-x:hidden; 
    width:105%;
}
.suma2{
    overflow-y:hidden;
    overflow-x:hidden; 
    width:105%;
}
.c3{
    width:45%;
    display:flex;
    justify-content:start;
    align-items:center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top:100px;
}
.c4{
    background-color:rgb(11, 2, 75);
    display:none;
    margin:auto;
    padding:10px;
}
#imagine{
    width:100vh;
}
.flex{
    background-color:rgb(11, 2, 75);
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
img{
    width:2vw;
    height:4vh;
    filter: invert(1);
    cursor:pointer;
}
.nu{
    filter: invert(0);
    width:19vw;
    display:block;
    margin:20px;
    height:28vh;
}
.nu3{
    padding:20px;
    filter: invert(0);
    width:19vw;
    display:block;
    margin:50px;
    height:28vh;
}
.nu0{
    filter: invert(0);
    width:19vw;
    display:block;
    margin:25px;
    height:28vh;
}
.nu1{
    filter: invert(0);
    width:19vw;
    display:block;
    margin:auto;
    height:69vh;
}
.nu2{
    filter: invert(0);
    width:19vw;
    display:block;
    margin:auto;
    height:18vh;
}
.spatiu{
    margin-bottom:50px;
}
button{
    background-color:  rgb(6, 6, 88);
    border:none;
    border-radius:50%;
    height: 10vh;
    width: 5vw;
}
button:hover{
    background-image: -webkit-radial-gradient(circle,rgb(130, 0, 111),rgb(141, 33, 195),rgb(205, 3, 127));
}
h1{
    margin-top:-80px;
    color:#ffffff;
    text-align: start;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color:aqua;
    text-align: left;
}
.Flex{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.Grid{
    display: block;
    margin:auto;
}
video{
    cursor: pointer;
    display:block;
    margin:auto;
    width: 100%;
    height: 80%;
    gap:20px;
}
h2{
    color:white;
    text-align: center;
    margin:10px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
h3{
    color:white;
    margin:20px;
    font-size:1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.but{
    width: 20%;
    border-radius:0px;
    margin:5px;
    color:white;
    height:20%;
    font-size:1.2rem;
    background-color:magenta;
    padding:10px; 
}
.but:hover{
    border: 5px solid black;
}
#but2,#but1{
    font-size: 1rem;
}
details{
    padding:10px;
}
summary
{
    color:white;
    background-color:  rgb(6, 6, 88);
    padding:10px;
    border-radius:20px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    font-size: 2vh;
    font-family:cursive;
    cursor:pointer;
}
.p{
    text-align:center;
}
.p:hover{
    background-color: navy;
    cursor:pointer;
}
#list{
    margin-bottom:100px;
}
input{
    background-color:  rgb(6, 6, 88);
    color:white;
    border:none;
    width: 60%;
    height: 2%;
    border-radius:10px;
    text-align: center;
}
input::placeholder{
    text-align: center;
    color:white;
}
#random{
    background-color:orange;
    position: relative;
    left:50%;
    top:-10%;
    width: 10vw;
    padding:10px;
    height: 8vh;
    cursor:pointer;
    font-size: 1rem;
    color:black;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#random:hover{
    color:white;
}
#melodie{
    margin-top:20px;
}
.melodie{
    margin-top:20px;
}
.slot{
    padding:20px;
    margin:0;
    width:100%;
    height:20%;
    filter: invert(0);
    display:block;
    margin:auto;
}
.slot1{
    padding:20px;
    margin:0;
    width:vw;
    height:6vh;
    filter: invert(0);
    display:block;
    margin:auto;
}
.machine{
    padding:10px;
    top:54px;
    margin:0;
    width:45%;
    height:31%;
    position:relative;
    filter: invert(0);
    display:block;
    margin:auto;
}
@media (max-width:765px){
    .c1{
        display:grid;
        grid-template-rows: (9,1fr);    }
    .suma{
    overflow-y:hidden;
    overflow-x:scroll; 
    }
    .suma1{
    overflow-y:hidden;
    overflow-x:scroll; 
    }
    .suma2{
    overflow-y:hidden;
    overflow-x:scroll; 
    }
    .c3{
        overflow-y:scroll;
    }
    .slot1{
        height: 30%;
    }
    .but{
       width: 35%; 
    }
    img{
        width: 5vw;
    }
    h1{
    font-size: 1.1rem;
    }
    p{
    font-size: 1.1rem;
    }
    h2{
    font-size: 0.8rem;
    }
    h3{
    font-size: 0.rem;
    }
    .nu{
        width: 80%;
        display:block;
        margin: 10px;
    }
    video{
        margin-bottom: 30px;
        padding: 10px;
    }
    button{
        width: 10vw;
    }
    .Flex{
    grid-template-columns: repeat(1,1fr);
    display:block;
    margin:auto;
    }
    details{
        font-size: 0.5rem;
    }
    .nu1{
        height: 40vh;
    }
    input{
        font-size:0.9rem;
        width: 100%;
    }
    summary{
        font-size:0.7rem;
        text-align: center;
    }
    #h{
        margin:20px;
    }
    .slot{
        display:none;
    }
    .nu{
        width:200px;
        display:block;
        margin:auto;
    }
    #random{
        display:none;
    }
}
#love{
    background-image:url('x.png');
    background-size:cover;
    height:55vh;
    display:grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);

}